*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* PADRE */
.container{
    /* USO DE FLEX */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 500px;
    height: 600px;
    background-color: rgb(130, 253, 151);
    border: 3px solid black;
    margin: 40px auto;
}

/* HIJO */
.ball{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100px;
    background-color: rgb(255, 116, 116);
    border-radius: 10px;
    border: 3px solid black;
   
}

.tres{
    background-color: black;
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    color: white;
}