* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #151515;
    color: #fff;
    font-family: sans-serif;

}

header {
    background-color: #151515;
    position: sticky;
    top: 0;
    z-index: 2;


}

.container {
    max-width: 900px;
    /* background-color: rgb(77, 77, 77); */
    margin: auto;
}

.header-contend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-contend ul {
    display: flex;
    gap: 10px;
}

/* SECCION WELCOME */



.welcome-content {
    display: flex;
    padding: 50px 0;

}

.col_1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* background-color: rgba(255, 0, 0, 0.37); */
    flex: 2;
}

.col_1 h3 {
    font-size: 3rem;
}

.col_1 h3 span {
    text-decoration: underline;
    text-decoration-color: rgb(255, 167, 53);
}

.col_1 a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-decoration-color: rgb(255, 167, 53);

}


.col_2 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    /* background-color: maroon; */
    flex: 1;
    overflow: hidden;
}

.img-pizza,
.img-hoja,
.img-tomato {
    position: absolute;

}

.img-pizza {
    filter: blur(3px);
}

.img-tomato {
    width: 80%;
    left: -20px;
    top: 9%;
}

.img-hoja {
    width: 27%;
    left: 70px;
    bottom: 60px;
    transform: rotate(-30deg);

}

/* SECCION PRODUCTOS */
/* #productos {
    background-color: lightcoral;
} */

#productos>.container {
    background-color: silver;
    border-radius: 10px;
}

.productos-content {
    display: flex;
    gap: 10px;
    padding: 10px;

}

.product-card {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

/* .productos-content div:nth-child(1) {
    background-color: rgb(96, 125, 255);
} */

/* .productos-content div:nth-child(2) {
    background-color: rgb(0, 226, 0);
} */

/* .productos-content div:nth-child(3) {
    background-color: tomato;
}
 */
.product-card:hover .card-hover {
    opacity: 1;
}

/* CARD HOVER  */

.card-hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479) !important;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: .5s;
}

/* CARD HOVER HEADER */

.card-hover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


.card-hover-header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-guardar {
    background-color: rgb(235, 31, 31);
    color: white;
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.product-card img {
    width: 100%;

}

/* CARD HOVER FOOTER */
.card-hover-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    gap: 10px;
}

.card-hover-footer i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* SECCION SKILLS */

.skills-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;

}

.skills-content>div {
    display: grid;
    row-gap: 10px;
}





/* Primer breakpoint tablet*/
@media screen and (max-width: 800px) {
    body {
        background-color: rgb(26, 11, 94);
    }

    .welcome-content {
        flex-direction: column-reverse;
    }

    .col_2 {
        background-color: rgb(73, 19, 123) !important;
        flex: none;
        height: 300px;
    }

    .img-pizza,
    .img-hoja,
    .img-tomato {
        width: 230px;
    }

    .productos-content {
        flex-wrap: wrap;
    }

    .product-card {
        width: 49%;
        flex: none;
    }

    .skills-content {

        grid-template-columns: repeat(2, 1fr);
    }

}

/* BREAKPOINT MOBILE */
@media screen and (max-width: 576px) {

    /* ORGANIZAR COLUMNAS Y FILAS*/
    
    /* .productos-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    .product-card{
        flex: none;
        width: 80%;
        margin: auto;
    }

    .skills-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-content>div {
        text-align: center;
    }

}